.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: teal;
    padding: 5px 20px;
}

.header-container nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}