.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 63, 63);
    padding: 5px 20px;
    position: absolute;
    color: gray;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer_list {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 20px;
}